:root {
  font-size: 10px;
}

.demo {
  max-width: $mantine-breakpoint-md;
  background-color: var(--mantine-color-blue-filled);
  color: var(--mantine-color-white);
  padding: var(--mantine-spacing-md);
  text-align: center;
  font-size: 1rem;

  @media (max-width: $mantine-breakpoint-md) {
    background-color: red;
  }
}
